<%- include("partials/header"); -%>
    <%- include("partials/navbar"); -%>

        <body>


            <div class="container-fluid intro">
                <img src="..\public\images\6228911.jpg" />
                <h1>Juliana Huff</h1>
                <p>Juliana graduated from Penn State University in 2011 with a BS in Management and Marketing.</p>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vel orci porta non pulvinar neque laoreet suspendisse. Fusce ut placerat orci nulla pellentesque dignissim. Purus
                    sit amet volutpat consequat. Purus sit amet luctus venenatis lectus magna fringilla. Vitae justo eget magna fermentum iaculis eu. Faucibus turpis in eu mi bibendum neque egestas congue quisque. Proin libero nunc consequat interdum
                    varius. Eleifend mi in nulla posuere. Elit eget gravida cum sociis natoque penatibus et. Ligula ullamcorper malesuada proin libero nunc. Convallis convallis tellus id interdum velit. Penatibus et magnis dis parturient montes nascetur
                    ridiculus mus. Phasellus vestibulum lorem sed risus ultricies tristique nulla. Vel elit scelerisque mauris pellentesque. Morbi tristique senectus et netus et malesuada. Morbi leo urna molestie at elementum eu facilisis sed odio. </p>
                <p>Donec enim diam vulputate ut pharetra sit. Eget nullam non nisi est. Augue mauris augue neque gravida in. Porttitor leo a diam sollicitudin tempor id eu nisl. Enim nunc faucibus a pellentesque sit amet. Euismod elementum nisi quis eleifend
                    quam adipiscing. Commodo viverra maecenas accumsan lacus vel. Quis viverra nibh cras pulvinar. Sapien eget mi proin sed libero. Ornare aenean euismod elementum nisi quis. Eleifend quam adipiscing vitae proin sagittis. Curabitur vitae
                    nunc sed velit dignissim sodales ut eu sem. Diam quis enim lobortis scelerisque fermentum dui faucibus. Pulvinar mattis nunc sed blandit libero volutpat sed cras. Faucibus turpis in eu mi bibendum neque egestas congue. </p>
                <p>At consectetur lorem donec massa sapien faucibus. Tellus mauris a diam maecenas sed enim ut. Faucibus purus in massa tempor. Diam quis enim lobortis scelerisque fermentum dui faucibus in. Amet consectetur adipiscing elit pellentesque habitant.
                    Morbi blandit cursus risus at ultrices mi tempus. Suspendisse sed nisi lacus sed viverra. Orci sagittis eu volutpat odio facilisis. Netus et malesuada fames ac turpis egestas. Elit scelerisque mauris pellentesque pulvinar pellentesque
                    habitant morbi tristique senectus. </p>
                <p>Nullam eget felis eget nunc lobortis mattis aliquam. Viverra nibh cras pulvinar mattis nunc sed blandit libero. Sed vulputate odio ut enim blandit volutpat maecenas volutpat blandit. Etiam non quam lacus suspendisse faucibus interdum posuere
                    lorem ipsum. In nulla posuere sollicitudin aliquam. Orci phasellus egestas tellus rutrum tellus. Massa enim nec dui nunc. Congue mauris rhoncus aenean vel elit. At risus viverra adipiscing at in. Malesuada proin libero nunc consequat
                    interdum. Dolor magna eget est lorem. Sed id semper risus in hendrerit gravida rutrum. In pellentesque massa placerat duis. A cras semper auctor neque vitae. Consequat mauris nunc congue nisi. Suspendisse sed nisi lacus sed viverra
                    tellus. Sed nisi lacus sed viverra tellus in hac habitasse platea. Quam vulputate dignissim suspendisse in est ante in. Donec et odio pellentesque diam. Malesuada proin libero nunc consequat interdum varius sit. Tortor pretium viverra
                    suspendisse potenti nullam ac. Amet luctus venenatis lectus magna.</p>
                <p>Porta non pulvinar neque laoreet. Viverra suspendisse potenti nullam ac tortor vitae. Sit amet risus nullam eget felis eget nunc lobortis mattis. Vulputate ut pharetra sit amet aliquam id diam maecenas ultricies. In hac habitasse platea
                    dictumst vestibulum rhoncus. Volutpat sed cras ornare arcu dui vivamus arcu felis. Nunc pulvinar sapien et ligula ullamcorper malesuada proin libero. Est placerat in egestas erat. Ut diam quam nulla porttitor. Orci porta non pulvinar
                    neque. Mollis aliquam ut porttitor leo a diam sollicitudin tempor id. Varius quam quisque id diam. Mi proin sed libero enim sed faucibus turpis in eu.</p>

            </div>

            <%- include("partials/footer"); -%>
        </body>