<%- include("partials/header"); %>
    <%- include("partials/navbar"); %>
        <div class="intro">
            <h1>Oops!</h1>
            <p>Something went wrong. Let's try that again!</p>
        </div>
        <%- include("partials/footer"); %>