<%- include("partials/header"); -%>

    <body>
        <%- include("partials/navbar"); -%>

            <main role="main" class="container">

                <!-- Intro -->
                <div class="intro">

                    <h1>Hi, I'm Julie.</h1>
                    <p class="lead">I'm a full-stack web developer.<br> Take a look around. If you like what you see, give me a ring and we'll talk.</p>
                </div>

            </main>

            <!-- Main Ideas Container -->
            <div class="container-fluid mainBody">
                <div class="card-deck">
                    <div class="card bg-transparent border-0">
                        <img class="align-self-center card-img-top icon" src="images/art.PNG" alt="#">
                        <div class="main-ideas">
                            <h3>Website Design</h3>
                            <p>Website design is personal to each and every company. Simplicity mixes with your personal brand to bring your customers a functional, easy-to-use web expereince.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Viverra nibh cras pulvinar mattis. Eget magna fermentum iaculis eu non diam phasellus vestibulum. Diam
                                maecenas sed enim ut sem viverra aliquet eget sit. Amet porttitor eget dolor morbi non arcu risus. Vulputate eu scelerisque felis imperdiet proin. Duis convallis convallis tellus id. Purus in mollis nunc sed id semper.
                                Sit amet aliquam id diam maecenas ultricies mi eget. Sit amet porttitor eget dolor morbi. Sed odio morbi quis commodo odio aenean sed adipiscing. Turpis egestas pretium aenean pharetra magna ac. Dignissim sodales ut eu
                                sem integer vitae justo. Est ante in nibh mauris cursus mattis. Urna nunc id cursus metus aliquam eleifend mi in nulla. Iaculis nunc sed augue lacus viverra. Risus nec feugiat in fermentum posuere urna nec. Sapien et ligula
                                ullamcorper malesuada proin libero nunc consequat interdum.</p>
                        </div>
                        <div class="card-footer bg-transparent border-0 attribution">Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>

                    </div>

                    <div class="card bg-transparent border-0">
                        <img class="align-self-center card-img-top icon" src="images/computer.png" alt="#">
                        <div class="main-ideas">
                            <h3>Front to Back</h3>
                            <p>Building a website is more than looks. Functionality, security, and brand devlopment all work hand-in-hand to bring you the best site you never thought of.
                            </p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Viverra nibh cras pulvinar mattis. Eget magna fermentum iaculis eu non diam phasellus vestibulum. Diam
                                maecenas sed enim ut sem viverra aliquet eget sit. Amet porttitor eget dolor morbi non arcu risus. Vulputate eu scelerisque felis imperdiet proin. Duis convallis convallis tellus id. Purus in mollis nunc sed id semper.
                                Sit amet aliquam id diam maecenas ultricies mi eget. Sit amet porttitor eget dolor morbi. Sed odio morbi quis commodo odio aenean sed adipiscing. Turpis egestas pretium aenean pharetra magna ac. Dignissim sodales ut eu
                                sem integer vitae justo. Est ante in nibh mauris cursus mattis. Urna nunc id cursus metus aliquam eleifend mi in nulla. Iaculis nunc sed augue lacus viverra. Risus nec feugiat in fermentum posuere urna nec. Sapien et ligula
                                ullamcorper malesuada proin libero nunc consequat interdum.</p>

                        </div>
                        <div class="card-footer bg-transparent border-0 attribution">Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>

                    </div>

                    <div class="card bg-transparent border-0">
                        <img class="align-self-center card-img-top icon" src="images/book.png" alt="#">
                        <div class="main-ideas">
                            <h3>Education and Training</h3>
                            <p>Technical skills? Yeah, we've got 'em. Making the back-end work as well and be as readable as the front doesn't have to be a struggle. If you need someone who wants to write clean code, take a gander at some of the work on
                                Github.
                            </p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Viverra nibh cras pulvinar mattis. Eget magna fermentum iaculis eu non diam phasellus vestibulum. Diam
                                maecenas sed enim ut sem viverra aliquet eget sit. Amet porttitor eget dolor morbi non arcu risus. Vulputate eu scelerisque felis imperdiet proin. Duis convallis convallis tellus id. Purus in mollis nunc sed id semper.
                                Sit amet aliquam id diam maecenas ultricies mi eget. Sit amet porttitor eget dolor morbi. Sed odio morbi quis commodo odio aenean sed adipiscing. Turpis egestas pretium aenean pharetra magna ac. Dignissim sodales ut eu
                                sem integer vitae justo. Est ante in nibh mauris cursus mattis. Urna nunc id cursus metus aliquam eleifend mi in nulla. Iaculis nunc sed augue lacus viverra. Risus nec feugiat in fermentum posuere urna nec. Sapien et ligula
                                ullamcorper malesuada proin libero nunc consequat interdum.</p>

                        </div>
                        <div class="card-footer bg-transparent border-0 attribution">Icons made by <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Main Ideas -->

            <%- include("partials/footer"); -%>
    </body>

    </html>