<%- include("partials/header"); -%>

    <body>
        <%- include("partials/navbar"); -%>
            <div class="intro">
                <h1>Success!</h1>
                <p>Thanks for reaching out, I've got your message. I'll be in touch soon.</p>
            </div>
            <div>
                <a href="/"> <button type="button" class="btn btn-dark btn-lg">Home</button></a>
            </div>
            <%- include("partials/footer"); -%>
    </body>