<%- include("partials/header"); -%>

    <body>
        <%- include("partials/navbar"); -%>

            <h1>Lorem Ipsum</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Pharetra diam sit amet nisl suscipit. Eget velit aliquet sagittis id. Pellentesque eu tincidunt tortor aliquam nulla
                facilisi cras. Egestas fringilla phasellus faucibus scelerisque. Facilisi cras fermentum odio eu feugiat. Blandit volutpat maecenas volutpat blandit aliquam etiam erat velit scelerisque. Amet luctus venenatis lectus magna fringilla. Consequat
                ac felis donec et odio. Cras pulvinar mattis nunc sed blandit libero volutpat sed cras. Bibendum arcu vitae elementum curabitur. Tincidunt eget nullam non nisi. Tellus in metus vulputate eu scelerisque felis imperdiet. Sodales neque sodales
                ut etiam sit amet nisl purus. Sit amet venenatis urna cursus. Amet porttitor eget dolor morbi non arcu risus. Sit amet dictum sit amet justo donec enim diam vulputate.</p>

            <%- include("partials/footer"); -%>
    </body>